<main class="flex h-full w-full flex-wrap items-center justify-center">
  <section
    class="flex h-full w-full min-w-[500px] max-w-3xl flex-col justify-center rounded-lg bg-primaryLight p-20 shadow-lg md:w-10/12 lg:w-1/2 dark:bg-primaryDark"
  >
    <div class="mb-5 flex flex-col items-center">
      <img src="assets/rp0-banking.ico" alt="rp0-banking-logo" class="mb-3" width="80" />
      <div class="mb-3 text-3xl font-medium text-secondaryLight dark:text-putty-50">
        Welcome Back
      </div>
      <!-- <span class="font-medium leading-relaxed text-gray-600">Don't have an account?</span>
      <a class="ml-2 cursor-pointer font-medium text-blue-500 no-underline">Create today!</a> -->
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label
        for="username"
        class="mb-2 block font-medium text-gray-900 dark:text-secondaryDark"
        >Username</label
      >
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="Username"
        pInputText
        class="w-full rounded border border-gray-300 px-3 py-3 dark:border-[#4a4a66] dark:bg-[#33334d] dark:text-secondaryDark"
      />
      @if (isError("username", "required")) {
        <span class="p-0 text-sm text-red-500 dark:text-red-400">Username is required</span>
      }

      <label
        for="password1"
        class="mb-2 mt-4 block font-medium text-gray-900 dark:text-secondaryDark"
        >Password</label
      >
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
        pInputText
        class="w-full rounded border border-gray-300 px-3 py-3 dark:border-[#4a4a66] dark:bg-[#33334d] dark:text-secondaryDark"
      />
      @if (isError("password", "required")) {
        <span class="p-0 text-sm text-red-500 dark:text-red-400">Password is required</span>
      }

      <div class="mb-6 mt-4 flex items-center justify-between">
        <div class="flex items-center">
          <p-checkbox
            id="rememberme"
            formControlName="checked"
            [binary]="true"
            inputId="rememberme"
            styleClass="mr-2 rounded-md login"
          ></p-checkbox>
          <label for="rememberme" class="text-gray-900 dark:text-secondaryDark"
            >Remember me</label
          >
        </div>
        <a
          class="ml-2 cursor-pointer text-right font-medium text-martinique-600 no-underline hover:text-martinique-800 dark:text-putty-200 dark:hover:text-putty-100"
          >Forgot password?</a
        >
      </div>

      <button
        [disabled]="loginForm.invalid"
        class="p-button mt-5 w-full justify-center rounded-lg bg-martinique-900 px-4 py-3 font-medium text-primaryLight hover:bg-martinique-950 dark:bg-accent dark:text-primaryDark dark:hover:bg-putty-200 dark:focus:shadow-lara-dark-accent-btn"
      >
        <span
          class="p-button-icon p-button-icon-left pi pi-user sel"
          aria-hidden="true"
        ></span>
        Sign In
      </button>
    </form>
  </section>

  <section
    class="h-full w-1/2 max-w-3xl bg-cover bg-center bg-no-repeat max-lg:hidden"
    [ngStyle]="{
      'background-image':
        (theme$ | async) === 'dark'
          ? 'url(assets/rp0-ai-image.jpg)'
          : 'url(assets/rp0-ai-phone.jpg)',
    }"
  ></section>
</main>
