<p class="text-center text-5xl font-bold">Home Works!</p>
<p class="text-center">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam asperiores odio fugit
  perspiciatis tenetur tempora cum autem delectus est ipsa sit dignissimos ipsum culpa aperiam,
  ipsam libero? Laborum, adipisci beatae. Lorem ipsum, dolor sit amet consectetur adipisicing
  elit. Neque aut ducimus quasi voluptatem debitis facere excepturi ipsam, iste eligendi
  placeat possimus illum in dolore eaque, architecto dolorem rerum atque veritatis!
</p>
