<header
  class="relative flex min-h-[4rem] flex-wrap items-center justify-between gap-4 border-b-4 border-putty-300 bg-martinique-950 p-4 text-putty-300 md:h-24"
>
  <div class="flex items-center">
    <a pRipple routerLink="/" routerLinkActive="active">
      <img
        src="assets/rp0-banking-header.png"
        alt="rp0-banking-header"
        class="w-[200px] sm:w-[250px]"
      />
    </a>
  </div>

  @if (isAuthenticated$ | async; as isAuthenticated) {
    <div class="flex items-center">
      <theme-toggle-button></theme-toggle-button>

      <!-- Mobile menu for authenticated users -->
      <app-mobile-menu
        [isAuthenticated]="isAuthenticated"
        [showMenu]="showMobileMenu"
        (menuToggle)="toggleMobileMenu()"
        (logout)="logout()"
      ></app-mobile-menu>

      <!-- Desktop navigation for authenticated users -->
      <nav aria-label="nav menu" class="hidden sm:block">
        <ul class="flex items-center">
          <div class="inline-block">
            <div
              class="ml-2 h-8 w-[150px] cursor-pointer rounded-sm md:ml-5 md:w-[200px]"
              (click)="menu.toggle($event)"
            >
              <div
                pRipple
                class="flex items-center justify-between transition-colors duration-150 hover:border-b-2 hover:border-b-putty-200"
              >
                <div
                  class="flex h-8 w-8 items-center justify-center rounded-full border-2 border-putty-200"
                >
                  <i class="pi pi-user text-xl text-putty-200 md:text-2xl"></i>
                </div>
                @if (currentUser$ | async; as user) {
                  <span class="font-logo text-lg font-medium text-putty-200 md:text-2xl">{{
                    setUserFullName(user)
                  }}</span>
                }
                <i class="pi pi-angle-down text-putty-200"></i>
              </div>
            </div>
            <p-menu
              styleClass="ring-1 bg-primaryLight dark:bg-primaryDark dark:ring-secondaryDark/30 ring-slate-700/10"
              #menu
              [model]="items"
              [popup]="true"
              [appendTo]="'body'"
            />
          </div>
        </ul>
      </nav>
    </div>
  } @else {
    <!-- This div changes based on if the user is logged in -->
    <div class="flex flex-wrap items-center justify-end">
      <theme-toggle-button></theme-toggle-button>

      <!-- Mobile menu -->
      <app-mobile-menu
        [showMenu]="showMobileMenu"
        (menuToggle)="toggleMobileMenu()"
        (logout)="logout()"
      ></app-mobile-menu>

      <!-- Desktop navigation -->
      <nav aria-label="nav menu" class="hidden sm:block">
        <ul class="flex items-center">
          <li class="ml-4 inline-block">
            <a class="hover:text-putty-200" routerLink="/about-us" routerLinkActive="active"
              >About Us</a
            >
          </li>
          <li class="m-4 inline-block">
            <a class="hover:text-putty-200" routerLink="/login" routerLinkActive="active"
              >Login</a
            >
          </li>
          <li class="inline-block">
            <a
              pRipple
              class="p-button accent !py-2 align-baseline font-medium text-martinique-950"
              routerLink="/sign-up"
              routerLinkActive="active"
              >Sign Up</a
            >
          </li>
        </ul>
      </nav>
    </div>
  }
</header>
