<header class="bg-martinique-950 text-putty-300 flex h-24 items-center justify-between p-4">
  <div class="flex items-center gap-1">
    <img
      src="assets/rp0-banking-favicon.ico"
      alt="rp0-banking-logo"
      class=""
      width="96"
    />
    <h1 class="font-ibm text-3xl opacity-75">RP0 Bank</h1>
  </div>
  <nav class="flex">
    <ul class="flex items-center gap-3">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/" routerLinkActive="active">About</a></li>
      <li><a routerLink="/" routerLinkActive="active">Login</a></li>
      <li
        class="bg-putty-300 text-martinique-950 hover:bg-putty-200 rounded-md px-5 py-2 font-medium"
      >
        <a routerLink="/" routerLinkActive="active">Sign Up</a>
      </li>
    </ul>
  </nav>
</header>
