<header
  class="flex h-24 items-center justify-between border-b-4 border-putty-300 bg-martinique-950 p-4 text-putty-300"
>
  <div class="flex items-center">
    <a routerLink="/home" routerLinkActive="active">
      <img src="assets/rp0-banking-header.png" alt="rp0-banking-header" width="250" />
    </a>
  </div>
  <div class="flex items-center">
    <button
      class="flex h-9 w-9 flex-shrink-0 items-center justify-center rounded-md border border-solid border-putty-300 border-opacity-50 hover:bg-martinique-900"
      type="button"
      (click)="toggleThemeSelection()"
    >
      <i
        [ngClass]="{
          pi: true,
          'pi-moon': themePreference === 'dark',
          'pi-sun': themePreference === 'light',
          'pi-desktop': themePreference === 'auto',
        }"
      ></i>
    </button>

    <nav>
      <ul>
        <!-- <li class="inline-block"><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="inline-block"><a routerLink="/" routerLinkActive="active">About</a></li> -->
        <li class="m-4 inline-block">
          <a class="hover:text-putty-200" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="inline-block">
          <a
            class="p-button accent !py-2 align-baseline font-medium text-martinique-950"
            routerLink="/"
            routerLinkActive="active"
            >Sign Up</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>

@if (isThemeSwitching) {
  <div
    class="pointer-events-auto absolute left-[calc(100%-270px)] z-50 w-36 cursor-pointer space-y-1 rounded-lg bg-primaryLight p-3 text-[0.8125rem] font-medium leading-6 text-slate-700 shadow-xl shadow-black/5 ring-1 ring-slate-700/10 dark:bg-primaryDark dark:text-slate-100 dark:ring-secondaryDark/30"
  >
    <div
      (click)="changeTheme('light')"
      class="flex rounded-[10px] p-1 hover:bg-martinique-100 dark:hover:bg-martinique-950"
    >
      <div
        class="flex h-6 w-6 flex-none items-center justify-center rounded-md bg-white shadow ring-1 ring-slate-900/10 dark:bg-primaryDark dark:ring-secondaryDark/40"
      >
        <i class="pi pi-sun dark:text-secondaryDark"></i>
      </div>
      <div class="ml-3">Light</div>
    </div>
    <div
      (click)="changeTheme('dark')"
      class="flex rounded-[10px] p-1 hover:bg-martinique-100 dark:hover:bg-martinique-950"
    >
      <div
        class="flex h-6 w-6 flex-none items-center justify-center rounded-md bg-white shadow ring-1 ring-slate-900/10 dark:bg-primaryDark dark:ring-secondaryDark/40"
      >
        <i class="pi pi-moon dark:text-secondaryDark"></i>
      </div>
      <div class="ml-3">Dark</div>
    </div>
    <div
      (click)="changeTheme('auto')"
      class="flex rounded-[10px] p-1 hover:bg-martinique-100 dark:hover:bg-martinique-950"
    >
      <div
        class="flex h-6 w-6 flex-none items-center justify-center rounded-md bg-white shadow ring-1 ring-slate-900/10 dark:bg-primaryDark dark:ring-secondaryDark/40"
      >
        <i class="pi pi-desktop dark:text-secondaryDark"></i>
      </div>
      <div class="ml-3">System</div>
    </div>
  </div>
}
