/* For styles I am using Tailwind CSS (https://tailwindcss.com/), Sass (SCSS) and
Prime NG (https://primeng.org/) */

/* Compatibility between PrimeNG and Tailwind CSS libraries. */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Prime NG Overrides (https://primeng.org/) */
@import "assets/primeng-overrides.scss";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

/* Variables */

/* Angular Form Validation Styles*/
input.ng-invalid.ng-touched {
  @apply border border-red-500 dark:border-red-400;
}

/* Global styles */
html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

/* Fix for input icons */
.p-input-icon-left {
  position: relative;
  display: inline-block;
  width: 100%;

  > i {
    position: absolute;
    top: 65%;
    left: 0.75rem;
    transform: translateY(-50%);
    z-index: 1;
  }

  > input,
  > textarea {
    padding-left: 2.5rem !important;
  }
}

/* Special handling for textarea with icons */
.textarea-container {
  > i {
    top: 1.5rem !important;
    transform: none !important;
  }

  > textarea {
    padding-top: 0.75rem !important;
  }
}

/* Theme Background Overrides */
[data-theme="light"] body {
  @apply bg-primaryLight;
  @apply text-secondaryLight;
  .p-button.primary:focus {
    @apply shadow-lara-light-primary-btn;
  }
  .p-button.accent:focus {
    @apply shadow-lara-light-accent-btn;
  }
}

[data-theme="dark"] body {
  @apply bg-primaryDark;
  @apply text-secondaryDark;
  .p-button.primary:focus {
    @apply shadow-lara-dark-primary-btn;
  }
  .p-button.accent:focus {
    @apply shadow-lara-dark-accent-btn;
  }
}
