/* For styles I am using Tailwind CSS (https://tailwindcss.com/), Sass (SCSS) and
Prime NG (https://primeng.org/) */

/* Compatibility between PrimeNG and Tailwind CSS libraries. */
@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* Prime NG (https://primeng.org/) */
@import "primeicons/primeicons.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

/* Variables */
:root {
  --primary-color-light: #fcfaf6; //background color (light mode)
  --text-color-light: #0d1b2a; //text color (light mode)
  --primary-color-dark: #26263d; //background color (dark mode)
  --text-color-dark: #fcfaf6; //text color (dark mode)
  --gold-accent-color: #e8cc93;
}

/* Global styles */
html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

[data-theme="light"] body {
  @apply bg-primaryLight;
  @apply text-secondaryLight;
}

[data-theme="dark"] body {
  @apply bg-primaryDark;
  @apply text-secondaryDark;
}
